
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    grid-template-areas:
        "sidebar feed feed favorites"
        "footer footer footer footer";
    grid-template-rows: 1fr auto;
    grid-template-columns: 240px 1fr 1fr 240px;
    gap: calc(var(--gap) * 1.0);
    padding: calc(var(--gap) * 0.75);
}

:root {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: var(--text); */
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --bg: #ffffff;
  --primary: #031045;
  --accent: #F5F7FF;
  --muted: #6b7280;
  --gap: 1rem;
  --radius: 8px;
  --card-shadow: 0 6px 18px rgba(2,6,23,0.08);
  --max-width: 1200px;
}

.baumansRegular {
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}

