.container {
  grid-area: favorites;
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display:flex;
  align-items:center;
  gap:.75rem;
}

.favorites{ display:flex; align-items:center; gap:.5rem; }