.container {
  grid-area: favorites;
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display:flex;
  align-items:flex-start;
  gap:.75rem;
}

.favorites{ 
  display:flex; 
  align-items:flex-start; 
  gap:.5rem; 
  padding-left: 2vw;
  padding-top: 1vh;
}

.icon {
  filter:invert(100%);
  width:60px;
  height:60px;
  position:relative;
  top: -20%;
  left: -10%
}

h1 {
  display: inline-flex;
  font-size: xx-large;
  margin: 0;
}