.sidebar {
  grid-area: sidebar;
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.logo{
  display:flex;
  align-items:center;
  gap:.5rem;
}

.menuItem{
  display:flex;
  align-items:center;
  gap:.75rem;
  padding:.5rem .25rem;
  cursor:pointer;
  border-radius:6px;
}