.post {
  padding: 1rem;
  background: var(--bg);
  border-radius: var(--radius);
  box-shadow: var(--card-shadow);
  margin-bottom: .75rem;
}
.post h2{
  margin: 0 0 .5rem 0;
  font-size: 1.1rem;
}
.post img{
  cursor: pointer;
  image-rendering: crisp-edges;
  float: right;
  width: 30px;
  height: 30px;
}