.container {
  grid-area: feed;
  display: flex;
  flex-direction: column;
  background-color: #DBE7FF;
  height: 100%;
  overflow-y: auto;
  color:black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.feed{
    height: '85vh'; 
    overflow-y: 'auto'
}