.post {
  display:block;
  padding: 2rem;
  background: var(--bg);
  box-shadow: var(--card-shadow);
  margin-bottom: .75rem;
  position:relative;
}
.post h2{
  font-size: 2rem;
}
.post img{
  image-rendering: crisp-edges;
  width: 120px;
  height: 120px;
}
.header {
  display:flex;
  gap:24px;
}
.link {
  position:absolute;
  top:2rem;
  right:2rem;
  text-decoration: none;
}