.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 1rem;
}

.userInfo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.userBox {
    display:block;
}

.name {
    font-size: 1.5rem;
}

.username {
    font-size: 1rem;
    margin: 0;
}