:root {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

.container {
  display: grid;
  height:99vh;
  width:99vw;
  box-sizing: border-box;
  grid-template-areas:
    "sidebar feed feed favorites"
    "footer footer footer footer";
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 12fr 1fr;
  gap: 1vw;
  padding: 1vh;
}
.container > div.directory,
.container > div.updates,
.container > div.profile,
.container > div.feed {
  grid-area: feed;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  height: 100%;
  overflow-y: auto;
  color:black;
  padding-left: 1vw;
  padding-right: 1vw;
}
.container > div.favorites {
  grid-area: favorites;
  background-color: #143e6e;
  padding-left:1vw;
  padding-right:1vw;
}
.container > div.footer {
  grid-area: footer;
  background-color: #4b091a;
  text-align: center;
}

/*
.container > div.sidebar,
.container > div.directory,
.container > div.updates,
.container > div.profile,
.container > div.feed,
.container > div.favorites,
.container > div.footer {
  border-radius: 18px;
  
  
  background-color: #e8e8e8;
  color:black
  
}
*/

li {
  font-size: x-large;
  padding: 20px;
  padding-bottom:15%;
}

ul {
  list-style-type: none;;
}

.logo {
  padding-bottom: 5vh;
}

.post {
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 40%;
  background-color: white;
}

.profile {
  margin-left:20%;
  margin-right:20%;
  margin-top:5%;
  border-radius: 5%;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}