:root {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: var(--text); */
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --bg: #ffffff;
  --primary: #07246D;
  --accent: #F5F7FF;
  --muted: #DBE7FF;
  --gap: 1rem;
  --radius: 8px;
  --card-shadow: 0 6px 18px rgba(2,6,23,0.08);
  --max-width: 1200px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

