.description, .eventsHosted {
    margin-inline: 4rem;
}

.description {
    background-color: var(--muted);
    border-style: solid;
    border-width: 1rem;
    border-color: var(--bg);
    padding: 1rem;
}

.eventsHosted {
    background-color: var(--muted);
    border-style: solid;
    border-width: 1rem;
    border-color: var(--bg);
    padding: 1rem;
    text-align: center;
}

.orgDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orgDetails > p {
    margin-block: 0.5rem;
}

.eventCardsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 1.5rem;
    height: 30rem;
    overflow-y: auto;
}

.icon {
    color: black;
    position: relative;
    top: 0.25rem;
}

h1 {
    all: unset;
    font-size: 2rem;
}